{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>    
    <div class="card text-center">
        <div class="card-header">
            <strong>Edit {{ item }}</strong> 
        </div>
        <div class="card-body col-md-6 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-secondary" style="padding-left: 40%; padding-right: 40%;">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}


